
header {
  background-color: orange;
  height: 260px;


}
#real{
  margin-left: 20px;
}
body {

    background-color: #B0B0B0;
    margin: 0;
    padding: 0;

}
header li {
  list-style: none;
}



a:link , a:visited {
     text-decoration: none;
     background-color: skyblue;
     font-size: 150%;
     border:1px solid black;
     color: solid black;
     display: block;
     width:230px;
     text-align: center;
     font-family: fantasy;
     margin: px;
     float:left;
     margin-top: 30px;


}
a:active , a:hover{
     font-size: 151%;
     font-family: cursive;
     color:red;
     background-color: gold;


}

#big{
  margin-left: 130px;
}
